/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 90%;
  max-width: 800px;
  margin: 20px;
  max-width: 100vh;
}

#auth-section,
#main-content {
  padding: 20px;
}

input,
button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#auth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-content {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow-y: auto;
  scrollbar-width: 1px;
  -ms-overflow-style: none
}

::-webkit-scrollbar {
    display: none; 
  }

.wrapper {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}
h2 {
  margin-top: 0;
  font-size: 24px;
  color: #007bff;
}

#poll-section,
#chat-section {
  margin-top: 20px;
}
.message-input-wrapper {
  min-height: 180px;
  display: flex;
  align-items: end;
}
#poll-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.poll-option {
  margin-bottom: 10px;
}

.option-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.progress-bar {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 20px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #007bff; /* Adjust color as needed */
}

.vote-count {
  margin-top: 5px;
  font-size: 14px;
}

.poll-buttons {
  display: flex;
  justify-content: space-around;
}

.poll-buttons button {
  width: auto;
  flex: 1;
  margin: 0 5px;
}

#chat-messages {
  list-style-type: none;
  padding: 0;
  height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

#chat-messages li {
  padding: 2px;
  /* border-bottom: 1px solid #ddd; */
}

.card {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
  }
  
  .card-content {
    flex: 1; /* Take up all available space */
    overflow-y: auto; /* Make the content scrollable if necessary */
  }
  
  /* Styling for message items */
  .message-item {
    margin: 10px 0;
  }
  
  /* Styling for message box */
  .message-box {
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    max-width: 80%;
    text-align: center;
  }
  
  /* Styling for username */
  .username {
    font-size: 0.8em;
    color: gray; /* Optional: different color for the username */
    display: block;
    margin-bottom: 5px;
  }
  
  /* Styling for message text */
  .message {
    margin: 0;
    padding: 0;
    font-size: 1em;
    max-width: 125px;
    word-break: break-word;
    overflow-wrap: break-word;
  }

.message-user {
  display: flex;
  justify-content: end;
  color: #007bff;
}

.message-other {
  display: flex;
  justify-content: start;
}

#typing-indicator {
  font-size: 14px;
  color: #999;
}

#chat-section input {
  width: calc(100% - 22px);
  display: inline-block;
}

#logout-button {
  cursor: pointer;
  transition: color 0.3s;
}
#logout-button:hover {
  color: #ff6666; /* Brighter red on hover */
}
#user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic styling for the user list container */
#user-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.3rem;
  max-width: 300px; /* Adjust width as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for each user element */
.user {
  cursor: pointer;
  padding: 8px 12px;
  /* margin-bottom: 8px; */
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.user:hover {
  background-color: #f0f0f0;
}

.user:last-child {
  margin-bottom: 0; /* Remove bottom margin for the last user element */
}

h3 {
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Make the text bold */
  color: #333; /* Set text color */
  margin-bottom: 20px; /* Add bottom margin for spacing */
  border-bottom: 2px solid #ccc; /* Add a bottom border */
  padding-bottom: 5px; /* Space between text and border */
}
